
    <div id='products' class="col-lg-9 mx-auto">
        <div class="row mx-auto">
            <div class="card mx-auto mb-3" id=fdas style="width: 18rem;">
                <img class="card-img-top" src=".." alt="Card image cap">
                <div class="card-body">
                    <p class="card-title">sfd</p>
                    <p class="card-text"><b>fds</b></p>
                </div>

                <div class="card-footer p-0 no-gutters">

                    <div class="row no-gutters">
                        <form action="/#fdas" class="col-2 " method="post">
                            {% csrf_token %}
                            <input hidden type="text" name='product' value='fdas'>
                            <input hidden type="text" name='remove' value='True'>
                            <input type="submit" value=" - " class="btn btn-block btn-light border-right">
                        </form>
                        <div class="text-center col">dfs</div>
                        <form action="/#fdas" class="col-2 " method="post">
                            {% csrf_token %}
                            <input hidden type="text" name='product' value='fdas'>
                            <input type="submit" value=" + " class="btn btn-block btn-light border-left">
                        </form>
                    </div>
                    <form action="/#fdas" method="POST" class="btn-block">
                        <input hidden type="text" name='product' value='fn'>
                        <input type="submit" class="float-right btn btn-light  form-control" value="Add To Cart">
                    </form>

                </div>

            </div>
        </div>
    </div>