{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-extension.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/proper.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- icons -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">


    <title>Task</title>

</head>

<body>
    <!-- First nav  -->     

      <nav class="navbar navbar-expand-lg bg-white pt-0 mt-0 w-100 ">
        <div class="container">
          <a class="navbar-brand mx-5 fs-1 fw-bolder"  href="#">stratadocuments<span>.</span></a>
          <div class=""></div>
          <button class="navbar-toggler ms-0 end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list "></i>
          </button>
          <div class="collapse navbar-collapse  fs-6" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0  " >
              <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="page" href="#">HOME</a>
              </li>
              
              <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  HOW IT WORKS
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  WHY US
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link ">CONTACT US</a>
              </li>
              <li class="nav-item mx-2">
                <button type="button" class="btn btn-primary">Primary</button>
              </li>
            </ul>
        
          </div>
        </div>
      </nav>
     

    <!-- end -->
    <script src="{% static 'jquery/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-extension.min.js' %}"></script>


</body>

</html>
