{% include 'header.html' %}
{% load static %}
<div class="container-fluid back w-100  px-0">
    <div class=" first-div-txt container bg-transparent text-white fw-bold ">
        <div class="">
            <p class=" fs-2 ">A <span>community</span> approach to an age old problem</p>
            <p class="mb-2 mt-5 text-center fs-1 ">Share & Smile</p>
        </div>
    </div>
</div>

<div class="row  row-cols-2 mx-5  my-5">
    <div class="container " id="why-container">
        <h1 class="display-1  " id="why"> why</h1>
    </div>
    <div class="container ">
        <div class="row row-cols-2">
            <div class="card  mx-3 my-3 dif-color" id="card">
                <img src="{% static 'pngtree-vector-watch.png' %}" class="card-img-top mx-auto my-2" alt="...">
                <div class="card-body">
                    <h4 class=" text-left ">SAVE TIME:</h4>

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card mx-3 my-3" id="card">
                <img src="{% static 'Business_Finance_Money_1.png' %}" class="card-img-top mx-auto my-2" alt="...">
                <div class="card-body">
                    <h4 class=" text-left ">SAVE TIME:</h4>

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="row row-cols-2   ">
            <div class="card mx-3 mt-3" id="card">

                <img src="{% static 'sale.png' %}" class="card-img-top mx-auto my-2" alt="...">
                <div class="card-body">
                    <h4 class=" text-left ">SAVE TIME:</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card mx-3 mt-3 dif-color" id="card">
                <img src="{% static 'd222.png' %}" class="card-img-top mx-auto my-2" alt="...">
                <div class="card-body">
                    <h4 class=" text-left ">SAVE TIME:</h4>

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row w-100 row-blue">

</div>