{%load static %}
{% block content %}
<!-- footer -->
<footer class=" bottom-0">
    <div class="mt-3 p-3 w-100" id="footer">
        <div class="container">
            <div class="row">
                <div class="col text-muted p-0">{% now 'Y' %} Copyright. All Rights Reserved.</div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col text-muted text-end p-0">Accounting Software.</div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
