{% include 'header1.html' %}
{% block content %}
<!-- home page Form  -->
<div class="container fw-bold p-0 mt-3">
    <b class="logo font-weight-bold">|</b>
    <b class="">UPDATE PSP BANK</b>
</div>
<div class="container p-5 mt-5 mb-5 bg-white">

    <form action="{% url 'index' %}">
        <div class="row row-cols-3">
            <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4">
                <label for="exampleFormControlInput1">PSP Name:<span class="star">*</span></label>
                <input type="text" class="form-control mt-2" id="exampleFormControlInput1"
                    placeholder="Emerchant GBP test">
            </div>
            <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4">
                <label for="exampleFormControlInput1">Account:<span class="star">*</span></label>
                <input type="text" class="form-control mt-2 " id="exampleFormControlInput1"
                    placeholder="1-15391 -Emerchant GBP test">
            </div>
            <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4">
                <label for="exampleFormControlInput1">Email:</label>
                <input type="email" class="form-control mb-3 mt-2" id="exampleFormControlInput1"
                    placeholder="name@example.com">
            </div>
            <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4">
                <label for="exampleFormControlInput1">Description:</label>
                <input type="text" class="form-control mb-3 mt-2" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4">
                <label for="exampleFormControlInput1">Address:</label>
                <input type="text" class="form-control mb-3 mt-2" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4">
                <label for="exampleFormControlInput1 mb-3 mt-2">Phone:</label>
                <input type="text" class="form-control mb-3 mt-2" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4">
                <label for="exampleFormControlInput1">Cut Off Time:<span class="star">*</span></label>
                <input type="text" class="form-control mb-3 mt-2" id="exampleFormControlInput1" placeholder="00:00:00">
            </div>
            <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4 col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-select text-secondary mb-3 mt-2">
                    <option selected class="">Active</option>
                    <option>...</option>
                </select>
            </div>

        </div>
        <div class="mt-5">
            <label for="exampleFormControlInput1"><b>Transaction Data Filters</b></label>
        </div>
        <div class="row row-cols-4 mt-2">
            <div class="form-group col-12 col-sm-12 col-md-3 col-lg-3">
                <label for="exampleFormControlInput1" class="text-secondary">Filter 1:</label>
                <input type="text" class="text-secondary form-control mb-3 mt-2" id="exampleFormControlInput1"
                    placeholder="Column Name">
            </div>
            <div class="form-group col-12 col-sm-12 col-md-3 col-lg-3">
                <label for="exampleFormControlInput1"></label>
                <input type="text" class="text-secondary form-control mb-3 mt-2" id="exampleFormControlInput1"
                    placeholder="Column Name">
            </div>
            <div class="form-group col-12 col-sm-12 col-md-3 col-lg-3">
                <label for="exampleFormControlInput1" class="text-secondary">Filter 2:</label>
                <input type="text" class="text-secondary form-control mb-3 mt-2" id="exampleFormControlInput1"
                    placeholder="Terminal">
            </div>
            <div class="form-group col-12 col-sm-12 col-md-3 col-lg-3">
                <label for="exampleFormControlInput1"></label>
                <input type="text" class="text-secondary form-control mb-3 mt-2" id="exampleFormControlInput1"
                    placeholder="FPMarketsINT_FIRSTPRU">
            </div>
        </div>
        <div>
            <label for="exampleFormControlInput1" class="mt-5 fw-bold"><b>Data Schema Mapping</b></label>
        </div>
        <div class="row row-cols-2 ">
            <div class="row row-cols-2 col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="mb-3 mt-2 col-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="inputStatus" class="form-label text-muted fw-bold">ATLAS Data Models</label>
                    <div class="form-group pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>debit_amount</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>credit_amount</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>customer_name</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>customer_email</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>transaction_number</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>transaction_datetime</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>Select</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>Select</option>
                            <option>...</option>
                        </select>
                    </div>

                </div>
                <div class="mb-3 mt-2 col-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="inputStatus" class="form-label text-muted fw-bold">PSP Data Models</label>
                    <div class="form-group pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>Amount(with decimal mark per)</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>Amount(with decimal mark per)</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>Card Holder</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>customer_email</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>Merchant Transaction id</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>DateTime(UTC)</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>Select</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>Select</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row  col-12 col-sm-12 col-md-8 col-lg-8 col-md-8 mb-3 mt-2 ">
                <label for="inputStatus" class="form-label text-muted fw-bold">Credit Data Models</label>
                <div class=" row row-cols-2 ">
                    <div>
                        <div class="form-group col-12 col-sm-12 col-md-8 col-lg-8 col-md-8">
                            <label for="exampleFormControlInput1" class="text-secondary">Filter 1:</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Type">
                        </div>
                        <div class="form-group col-12 col-sm-12 col-md-8 col-lg-8 col-md-8">
                            <label for="exampleFormControlInput1"></label>
                            <textarea class="form-control" cols="text-secondary" id="exampleFormControlTextarea1"
                                rows="3" placeholder="refund credit"></textarea>
                        </div>

                    </div>
                    <div>
                        <div class="form-group col-12 col-sm-12 col-md-8 col-lg-8 col-md-8">
                            <label for="exampleFormControlInput1" class="text-secondary">Filter 2:</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Status">
                        </div>
                        <div class="form-group col-12 col-sm-12 col-md-8 col-lg-8 col-md-8">
                            <label for="exampleFormControlInput1"></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                placeholder="aproved refund"></textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <label for="inputStatus" class="form-label text-muted fw-bold">Debit Amount Filter</label>
                    <div class=" row row-cols-2 row-cols-sm-12">
                        <div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="text-secondary">Filter 1:</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Type">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1"></label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    placeholder="sale3d"></textarea>
                            </div>

                        </div>
                        <div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="text-secondary">Filter 2:</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Status">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1"></label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    placeholder="aproved refund"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <label for="exampleFormControlInput1"><b>Data Matching Sequence</b></label>
            <div class="row row-cols-3">
                <div class="mb-3 mt-2 col-12 col-sm-12 col-md-4 col-lg-4">
                    <label for="inputStatus" class="form-label text-muted fw-bold ">ATLAS Data Models</label>
                    <div class="form-group mb-1 pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>transaction_number</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group mb-1 pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>debit_amount</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group mb-1 pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>credit_amount</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group mb-1 pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>customer_name</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group mb-1 pt-3">
                        <select id="inputState" class="text-secondary form-select">
                            <option selected>customer_email</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 mt-2 col-12 col-sm-12 col-md-4 col-lg-4">
                    <h6 class="text-secondary">PSP Data Models</h6>
                    <div class="col pt-3  w-100">
                        <div class="row ">
                            <div class="col ">
                                <div class=" overflow-auto border h-75 text-muted ps-2 ">
                                    <div class="row w-100 ">
                                        <div class="col ">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Terminal

                                            </label>
                                        </div>
                                    </div>

                                    <div class="row w-100">
                                        <div class="col">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Status

                                            </label>
                                        </div>
                                    </div>
                                    <div class="row w-100">
                                        <div class="col">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Type

                                            </label>
                                        </div>
                                    </div>
                                    <div class="row w-100">
                                        <div class="col">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Merchant Transaction id

                                            </label>
                                        </div>
                                    </div>
                                    <div class="row w-100">
                                        <div class="col">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Currency

                                            </label>
                                        </div>
                                    </div>
                                    <div class="row w-100">
                                        <div class="col">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Amount(with decimal mark per currency)

                                            </label>
                                        </div>
                                    </div>
                                    <div class="row w-100">
                                        <div class="col">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Card Holder

                                            </label>
                                        </div>
                                    </div>
                                    <div class="row w-100">
                                        <div class="col">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Card Brand

                                            </label>
                                        </div>
                                    </div>
                                    <div class="row w-100">
                                        <div class="col">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Card Number

                                            </label>
                                        </div>
                                    </div>
                                    <div class="row w-100">
                                        <div class="col">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                other

                                            </label>
                                        </div>
                                    </div>
                                    <div class="row w-100">
                                        <div class="col">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                other

                                            </label>
                                        </div>
                                    </div>
                                    <div class="row w-100">
                                        <div class="col">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                other

                                            </label>
                                        </div>
                                    </div>
                                    <div class="row w-100">
                                        <div class="col">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                other

                                            </label>
                                        </div>
                                    </div>
                                    <div class="row w-100">
                                        <div class="col">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                other

                                            </label>
                                        </div>
                                    </div>
                                    <div class="row w-100">
                                        <div class="col">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                other

                                            </label>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div> <button type="submit" class="btn btn-primary rounded-0 me-4">Submit</button>
        <button type="reset" class="btn btn-secondary rounded-0">Cancel</button>

    </form>

</div>


{% endblock %}
{% include 'footer.html' %}
