.back{
    background: url("../can.png");
    height: 950px;
    background-repeat: no-repeat;
    background-size: cover;
}

#card img{
    height: 64px !important;
    width: 64px !important;
}

#card{
    width: 15rem !important;
}

.dif-color{
    background-color: #3185E7;
}

.row-blue{
    background-color: #3185E7;
    height: 620px;
}

#why {
    height: 398px !important;
    font-size: 2000%;
    margin-top: 13%;
    margin-bottom: -22%;
}

#why-container{
    margin-bottom: 3%;
    height: 50%;
    width: 50%;
    transform: rotate(270deg);
    
}

#how{
    margin-left: 64%;
}