.navbar-nav :hover {
    color: green !important;
}

.left {
    background-image: url(../images/13.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .5;
}

.right {
    background-image: url(../images/banner-2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: -2%;
}

.exp-more {
    margin-top: -3%;
}

.back-div {
    background-color: #7D60D4;
}

.text-col{
    color: #7D60D4;
}