{% load static %}
{% load widget_tweaks %}


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="">

    <!-- datatable -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <title>cde</title>
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light blue mb-3">
        <div class="container-fluid">
            <a class="navbar-brand text-center fw-bold lightblue me-4" href="#">RANNSOLVE <br><span
                    class="text-white fs-6 text-normal">Cognitive Data Extractor</span> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item text-center pt-2">
                        <img src="../static/images/speedometer (2).png" class="w-25" alt="...">
                        <a class="nav-link lightblue fs-6" aria-current="page" href="#">DASHBOARD</a>
                    </li>
                    <li class="nav-item text-center pt-2">
                        <img src="../static/images/menu2.png" class="menu " alt="...">
                        <a class="nav-link lightblue fs-6" href="#">CONFIGURE PROCESS</a>
                    </li>
                    <li class="nav-item text-center pt-2">
                        <img src="../static/images/file.png" class="img1" alt="...">
                        <a class="nav-link lightblue fs-6" href="#">IMPORT TRAINING</a>
                    </li>
                    <li class="nav-item text-center pt-2">
                        <img src="../static/images/globe.png" class="global " alt="...">
                        <a class="nav-link lightblue fs-6" href="#">GLOBAL MODEL</a>
                    </li>
                </ul>
            </div>
            <div class="">

                <button class="border-0 bg-transparent text-end ">
                    <img src="../static/images/user.png" class="img2 justify-content-end" alt="...">
                </button>
            </div>
        </div>
    </nav>
    <div class="container border bg-white p-2 ">
        <div class="border-bottom">
            <p class="fs-2 ">Manage attributes</p>
        </div>
        <div class="container">
            <form method="POST" action="add_cnn" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="buttons1 p-2 border-0 text-white me-3 shadow">Create & continue next</button>
                <button type="button" class="buttons1 p-2 border-0 text-white me-3 shadow">Clear</button>
                <button type="button" class="buttons1 p-2 border-0 text-white shadow">Cancel</button>
              </div>
            </form>

        </div>


    </div>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>

    </script>
</body>

</html>