{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="">

  <title>Hello, world!</title>
</head>

<body class="bg-light">
  <select onchange="displayDivDemo('hideValuesOnSelect', this)">
    <option value="0">Java</option>
    <option value="1">Javascript</option>
  </select>
  <div id="hideValuesOnSelect">This is the Javascript</div>

  <nav class="navbar navbar-expand-lg navbar-light blue mb-3">
    <div class="container-fluid">
      <a class="navbar-brand text-center fw-bold lightblue me-4" href="#">RANNSOLVE <br><span
          class="text-white fs-6 text-normal">Cognitive Data Extractor</span> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item text-center pt-2">
            <img src="../static/images/speedometer (2).png" class="w-25" alt="...">
            <a class="nav-link lightblue fs-6" aria-current="page" href="#">DASHBOARD</a>
          </li>
          <li class="nav-item text-center pt-2">
            <img src="../static/images/menu2.png" class="menu " alt="...">
            <a class="nav-link lightblue fs-6" href="#">CONFIGURE PROCESS</a>
          </li>
          <li class="nav-item text-center pt-2">
            <img src="../static/images/file.png" class="img1" alt="...">
            <a class="nav-link lightblue fs-6" href="#">IMPORT TRAINING</a>
          </li>
          <li class="nav-item text-center pt-2">
            <img src="../static/images/globe.png" class="global " alt="...">
            <a class="nav-link lightblue fs-6" href="#">GLOBAL MODEL</a>
          </li>
        </ul>
      </div>
      <div class="">

        <button class="border-0 bg-transparent text-end ">
          <img src="../static/images/user.png" class="img2 justify-content-end" alt="...">
        </button>
      </div>
    </div>
  </nav>
  <!-- navbar end -->



  <!-- start -->
  <div class="container border bg-white p-2 ">
    <div class="border-bottom">
      dsfsaf
    </div>
    <div class="text-end mt-3 mb-3">
      <button type="button" class="buttons1 p-2 border-0 text-white me-3 shadow">Create & continue next</button>
      <button type="button" class="buttons1 p-2 border-0 text-white me-3 shadow">Clear</button>
      <button type="button" class="buttons1 p-2 border-0 text-white shadow">Cancel</button>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="" id="">
          <ul class="navbar-nav">
            <li class="nav-item text-center border-0 mb-2">
              <a class="nav-link text-dark bg-light p-2" aria-current="page " href="#">CONFIGURE PROCESS</a>
            </li>
            <li class="nav-item text-center border-0 mb-2">
              <a class="nav-link text-dark bg-light p-2" aria-current="page" href="#">CNN MODEL</a>
            </li>
            <li class="nav-item text-center border-0 mb-2">
              <a class="nav-link text-dark bg-light p-2" aria-current="page" href="#">MANAGE ATTRIBUTES</a>
            </li>
            <li class="nav-item text-center border-0 mb-2">
              <a class="nav-link text-dark bg-light p-2" aria-current="page" href="#">IMPORT SCHEDULER</a>
            </li>
            <li class="nav-item text-center ">
              <a class="nav-link text-dark bg-light p-2" aria-current="page " href="#">EXPORT SCHEDULER</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-2">
          <div class="col-12">


            <form class="form-inline" action="#">
              <div class="mb-3 row col-12">
                <label for="staticEmail" class="col-4 col-form-label">Email</label>
                <div class="col-8">
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
              </div>
              <div class="mb-3 row col-sm-12">
                <label for="staticEmail" class="col-sm-4 col-form-label">Import Type</label>
                <div class="col-sm-8">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="mb-3 row col-sm-12">
                <label for="staticEmail" class="col-sm-4 col-form-label">Import Type</label>
                <div class="col-sm-8">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="checkbox">
                <label for="documents" class="">Input documents:</label>
                <label><input type="checkbox"> me</label>
                <label><input type="checkbox"> me</label>
                <label><input type="checkbox"> me</label>
                <label><input type="checkbox"> me</label>
                <label><input type="checkbox"> me</label>
              </div>
            </form>
          </div>
          <div class="border-top w-100">
          </div>
          <div class="col-12">
            <div class="mb-3 row col-sm-12">
              <label for="staticEmail" class="col-sm-4 col-form-label">Import Type</label>
              <div class="col-sm-8">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mb-3 row col-12">
            <label for="staticEmail" class="col-4 col-form-label">Email</label>
            <div class="col-8">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
          </div>
          <div class="mb-3 row col-12">
            <label for="staticEmail" class="col-4 col-form-label">Email</label>
            <div class="col-8">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
          </div>
          <div>
            password:

          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-2">
          <div class="col-12">
            <div class="mb-3 row col-sm-12">
              <label for="staticEmail" class="col-sm-4 col-form-label">Import Type</label>
              <div class="col-sm-8">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <div class="mb-3 row col-sm-12">
              <label for="staticEmail" class="col-sm-4 col-form-label">Import Type</label>
              <div class="col-sm-8">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <div class="mb-3 row col-sm-12">
              <label for="staticEmail" class="col-sm-4 col-form-label">Import Type</label>
              <div class="col-sm-8">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="mb-3 row col-12">
              <label for="staticEmail" class="col-4 col-form-label">Email</label>
              <div class="col-8">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
            </div>
            <div class="mb-3 row col-sm-12">
              <label for="staticEmail" class="col-sm-4 col-form-label">Import Type</label>
              <div class="col-sm-8">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <div>
              password:

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>



  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>
</body>

</html>