#hideValuesOnSelect {
    display: none;
}

body {
    background-color: #f4f7f8;
}


.blue {
    background-color: #43778e;
    font-style: normal;
}

.lightblue {
    color: #bed5d8 !important;
}

.img1 {
    width: 21%;
}

.img2 {
    width: 10%;
}

.menu {
    width: 18%;
}

.global {
    width: 23%;
}

.buttons1 {
    background-color: #42768e;
}